body{
    background-color: #95d1f0 !important;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 16pt;
}

p{
    font-size: 1.2rem;
}

section{
    width: 80vw;
    margin: 0 auto;
}

header{
    padding: 20px;
}

footer{
    font-size: 0.5cm;
}

:root {
    --text-color: #1a1a1a; /* Or any color you prefer */
}

#page-title { /* title of the page */
    color: var(--text-color, navy);
}

